<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Useless-to-useful</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>system</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>aftab</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>servlet.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Donor</display-name>
    <servlet-name>Donor</servlet-name>
    <servlet-class>servlet.Donor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Donor</servlet-name>
    <url-pattern>/donor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Receiver</display-name>
    <servlet-name>Receiver</servlet-name>
    <servlet-class>servlet.Receiver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Receiver</servlet-name>
    <url-pattern>/receiver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonorSignup</display-name>
    <servlet-name>DonorSignup</servlet-name>
    <servlet-class>servlet.DonorSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonorSignup</servlet-name>
    <url-pattern>/donorsignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonorSignIn</display-name>
    <servlet-name>DonorSignIn</servlet-name>
    <servlet-class>servlet.DonorSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonorSignIn</servlet-name>
    <url-pattern>/donorsignin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>servlet.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/resetpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailSender</display-name>
    <servlet-name>MailSender</servlet-name>
    <servlet-class>servlet.MailSender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailSender</servlet-name>
    <url-pattern>/mailsender</url-pattern>
  </servlet-mapping>
</web-app>